.eae-data-component {
  border: 1px solid #eee;
  background-color: white;
  box-sizing: border-box;
  padding: 10px 5px;
  color: black;

  .eae-data-object {
    .eae-object-entry {
      display: flex;
      flex-direction: row;

      > :nth-child(1) {
        width: 150px;
      }
    }
  }
}
